extends ./shared/layout.pug

block content
  #jumbo.jumbotron
    #jumbo-inner
      h1= app
      p Your home for new software

  .container
    h1= app
    h2 Featured Software
    .card-list
      each item in featured
        .col-md-3.col-sm-6.col-xs-6
          .card
            .price $#{item.price}
            .label
              h2= item.name
              p= item.description

    h2 Latest Software
    .card-list
      each item in latest
        .col-md-3.col-sm-6.col-xs-6
          .card
            .price $#{item.price}
            .label
              h2= item.name
              p= item.description
